* {
    margin: 0;
}

#logo{
    font-size: 40pt;
    text-align: left;
    display: inline;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    background-color: black;
    color: whitesmoke;
    padding: 1em;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    margin: 4em auto;
    width: 80%;
    border: 2px solid black;
}

section {
    margin: 4em;
}

section h2 {
    text-align: left;
    padding-bottom: 0.5em;
    padding-left: 2em;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 1em;
    bottom: 0;
}

iframe {
    border: none;
}

ul {
    display: inline;
    width: fit-content;
    list-style-type: none;
    padding: 0.5em;
}

li{
    font-weight: 600;
    display: inline;
    float: right;
}

li a {
    display: inline;
    color: whitesmoke;  
    text-decoration: none;
    padding: 1em;
}

li a:hover {
    background-color: rgb(53, 53, 53);
}

hr {
    width: 35%;
    border-top: 0.2em solid black;
}