* {
    margin: 0;
}

#logo {
    font-size: 40pt;
    text-align: left;
    display: inline;
    margin-left: 1em;
}

header {
    top: 0;
    width: 100%;
}

nav {
    background-color: black;
    color: whitesmoke;
    padding: 1em;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    margin: 4em auto;
    width: 80%;
    border: 2px solid black;
}

section {
    margin: 4em;
}

section h2 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-left: 2em;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    padding: 1em;
    bottom: 0;
}

iframe {
    border: none;
}

ul {
    display: inline;
    list-style-type: none;
    padding: 1.5em;
    float: right;
}

li {
    font-weight: 600;
    display: inline;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1em;
}

li a:hover {
    background-color: rgb(53, 53, 53);
}

hr {
    width: 35%;
    border-top: 0.2em solid black;
    margin: auto;
}

.skills-badge {
    height: 60px;
    width: 60px;
    margin: 0.5em 0;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.skills-badge img {
    margin-top: 0.4em;
    padding: 0;
    width: 50%;
    filter: drop-shadow(1px 0 0 white) drop-shadow(0 1px 0 white) drop-shadow(-1px 0 0 white) drop-shadow(0 -1px 0 white);
}

.skills-badge p {
    margin: 0;
}